footer {
    background-color: #041e42;
    padding: 3rem 3rem;
}
.icons-container {
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.logo-container {
    margin: 0 auto;
}
footer .logo {
    width: 7rem;
}
.icons-container .svg-inline--fa {
    font-size: 3rem;
    color: #ffffff;
    margin: 0 2.5rem;
}
.icons-container .svg-inline--fa:hover {
    color: #fe5000;
}
footer .text-container {
    font-weight: lighter;
    letter-spacing: 0.3rem;
}
footer .text-container p {
    font-weight: lighter;
    letter-spacing: 0.3rem;
    margin-bottom: 0;
    margin-top: 1.5rem;
}