/* CSS Resets */
html {
    /* changed font to the percentage below so it would be easier to use REMs. 
    62.5% = 10px and 10px = 1rem */
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    color: #555555;
    font-size: 1.6rem;
}

/* global css */
.btn {
    border: 0.2rem solid #ffffff;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.4rem 3rem;
    text-transform: uppercase;
    margin: 1rem 0;
    background-color: transparent;
    color: #ffffff;
}
.btn:hover {
    /* transform: translateY(-3px); */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* Navbar section */
.navbar .navbar-brand img {
    width: 6rem;
    height: auto;
}
.navbar-nav .nav-item {
    padding: 0 1rem;
}
.navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-nav .active {
    color: #fe5000;
    font-weight: bold;
}
.navbar-nav .nav-link:hover {
    color: #232323;
}
.navbar-nav .search {
    font-size: 2.5rem;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 25px;
    margin-top: 10px;
}

/* Blog page */

.submitAttractionContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testContainer{
    width: 50rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.testContainer2{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
}

.formtextAttraction {
    font-size: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.formtextAttractionBig {
    font-size: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    resize: none;
}
input::placeholder{
    font-size: 1.5rem;
}

textarea::placeholder{
    font-size: 1.5rem;
}

.attractionHeader{
    font-size: 3.5rem;
    color:rgba(254,80,0,1);
}

.attractionSubmit{
    background-color:rgba(254,80,0,1);
    color:white;
    justify-content: center;
    align-items: center;
}

/* Weather cards */

.weather-card {
    margin: 60px auto;
    height: 740px;
    width: 500px;
    background: #fff;
    box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .weather-card .top {
    position: relative;
    height: 570px;
    width: 100%;
    overflow: hidden;
    background: url("/src/assets/tokyokitty/484150.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
  }
  .weather-card .top .wrapper {
    padding: 30px;
    position: relative;
    z-index: 1;
  }
  .weather-card .top .wrapper .mynav {
    height: 20px;
  }
  .weather-card .top .wrapper .mynav .lnr {
    color: #fff;
    font-size: 20px;
  }
  .weather-card .top .wrapper .mynav .lnr-chevron-left {
    display: inline-block;
    float: left;
  }
  .weather-card .top .wrapper .mynav .lnr-cog {
    display: inline-block;
    float: right;
  }
  .weather-card .top .wrapper .heading {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 400;
    color: #fff;
  }
  .weather-card .top .wrapper .location {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 400;
    color: #fff;
  }
  .weather-card .top .wrapper .temp {
    margin-top: 20px;
  }
  .weather-card .top .wrapper .temp a {
    text-decoration: none;
    color: #fff;
  }
  .weather-card .top .wrapper .temp a .temp-type {
    font-size: 85px;
  }
  .weather-card .top .wrapper .temp .temp-value {
    display: inline-block;
    font-size: 85px;
    font-weight: 600;
    color: #fff;
  }
  .weather-card .top .wrapper .temp .deg {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    vertical-align: top;
    margin-top: 10px;
  }
  .weather-card .top:after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .weather-card .bottom {
    padding: 0px 25px;
    background: #fff;
  }
  .weather-card .bottom .wrapper .forecast {
    overflow: auto;
    margin: 0;
    font-size: 0;
    padding: 0;
    padding-top: 20px;
    max-height: 170px;
  }
  .weather-card .bottom .wrapper .forecast::-webkit-scrollbar {
    width: 16px;
    border: 5px solid white;
  }
  
  .weather-card .bottom .wrapper .forecast::-webkit-scrollbar-thumb {
    background-color: #fff;
    background-clip: padding-box;
    border: 0.05em solid #fff;
  }
  
  .weather-card .bottom .wrapper .forecast::-webkit-scrollbar-track {
    background-color: #fff;
  }
  /* Buttons */
  .weather-card .bottom .wrapper .forecast::-webkit-scrollbar-button:single-button {
    background-color: #fff;
    display: block;
    border-style: solid;
    height: 10px;
    width: 20px;
  }

  .weather-card .bottom .wrapper .forecast::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
  }
  
  .weather-card .bottom .wrapper .forecast::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
  }
  /* Down */
  .weather-card .bottom .wrapper .forecast::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #555555 transparent transparent transparent;
  }
  
  .weather-card .bottom .wrapper .forecast::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
  }

  .weather-card .bottom .wrapper .forecast a {
    text-decoration: none;
    color: #000;
  }
  .weather-card .bottom .wrapper .forecast .go-up {
    text-align: center;
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .weather-card .bottom .wrapper .forecast li {
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.25);
    line-height: 1em;
    margin-bottom: 30px;
  }
  .weather-card .bottom .wrapper .forecast li.active {
    color: rgba(0, 0, 0, 0.8);
  }
  .weather-card.two .top {
    background: url("./assets/nada/large.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .weather-card.three .top {
    background: url("./assets/food/16-bit-bar-arcade-classic.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .weather-card.four .top {
    background: url("./assets/food/rhinegeistReception.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .weather-card.five .top {
    background: url("./assets/places/American_Sign_Museum_\(8669465949\).jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .weather-card.six .top {
    background: url("./assets/places/CenterForContemporaryArtCorner.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .weather-card.seven .top {
    background: url("./assets/taft/Taft\ Museum\ of\ Art\ \(2\).jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .weather-card.eight .top {
    background: url("./assets/ballpark/Great_American_Ball_Park_\(15561187833\).jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .weather-card.nine .top {
    background: url("./assets/places/paulbrownstadium.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .cardText{
    font-size: 2rem;
    font-weight: 450;
    text-align: justify;
  }
/* Header section */
#header-section {
    /* position: relative; */
    background-image: linear-gradient( 
        to right bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)),
    url("./assets/downtown/matt-koffel-_W8p_1OBkAw-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    height: 90vh;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.header-text-container {
    padding-top: 10%;
    color: #ffffff;
}
.header-text-container .line {
    border-top: 0.2rem solid #ffffff;
    width: 5rem;
}
.header-text-container h1 {
    font-size: 3rem;
    line-height: 5.5rem;
}
.header-text-container h1 span {
    letter-spacing: 0.3rem;
    font-size: 5.5rem;
    color: #fe5000;
}
.header-text-container p {
    line-height: 2.5rem;
    font-weight: lighter;
}

/* facts section */
.facts {
    margin-top: 10rem;
}
.facts-text-box .line {
    border-top: 0.2rem solid #fe5000;
    width: 5rem;
}
.facts-text-box h2 {
    font-size: 2.2rem;
    color: #041e42;
}
.facts-text-box h2 span {
    font-size: 3rem;
}
.facts .box .hotels {
    margin-right: 4.4rem;
}
.facts .box {
    display: inline-block;
}
.facts .icons {
    width: 6rem;
}
.fact-info {
    display: inline-block;
    font-size: 1.8rem;
    padding: 1rem 1rem;
    color: #041e42;
}

/* Map section */
.airpot-map-section {
    margin-top: 10rem;
    position: relative;
}
.airport-info {
    width: 35rem;
    height: 45rem;
    position: absolute;
    left: 20%;
    top: 40%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}
.airport-info img {
    width: 35rem;
}
.airport-info .text-box {
    padding: 3rem 2rem;
}

/* ToDos */

.todo-img{
  width: 500px;
  height: 260px;
  border-radius: 20%;
}

/* #smol{
  height: 100px;
  width: 500px;
} */


